@font-face {
  font-family: "Inter-Regular";
  src: url('../fonts/Inter/Inter-Regular/Inter-Regular.woff2'); // IE9 Compat Modes
  src: url('../fonts/Inter/Inter-Regular/Inter-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../fonts/Inter/Inter-Regular/Inter-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('../fonts/Inter/Inter-Regular/Inter-Regular.ttf')  format('truetype'), // Safari, Android, iOS
  url('../fonts/Inter/Inter-Regular/Inter-Regular.svg') format('svg'); // Legacy iOS..
}
