header {
  background-image: url(../images/bg.png);
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.wrapper {
  position: relative;
  height: 100%;
}

.social-natwork {
  width: 40%;
}

.social-natwork_mobile {
  display: none;
  padding-top: 30px;
  padding-bottom: 65px;
}

.social-natwork__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-natwork__icon {
  width: 25px;
  height: 25px;
}

.social-natwork__tel {
  color: $lightGray;
  font-size: 20px;
}

.navbar {
  padding-top: 30px;
}

.navbar-brand {
  width: 18%;
  padding: 0;
}
.navbar-brand_desktop {
  display: none;
}

.logo {
  height: 54px;
  max-width: 210px;
  transform: translate(-10px, 0px);
}

.navbar-toggler-icon__burger {
  width: 30px;
  height: 30px;
  fill: $white;
}

.nav-link {
  color: $lightGray;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.05em;
}

svg.home {
  height: 20px;
  width: 18px;
}

svg.poligon {
  height: 11px;
  width: 14px;
}

.feedback {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $lightGray;
  font-size: 14px;
  justify-content: space-between;
}

.navbar-brand_mobile {
  display: block;
}

.adress-wrap {
  display: flex;
}

.mail-wrap {
  display: flex;
}

.feedback-call {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-call__wrap {
  display: flex;
}

.feedback-call__tel {
  font-size: 22px;
  color: $red;
  padding-right: 18px;
}

.feedback-icon {
  padding-right: 18px;
}

.adress, .mail, .feedback-call__tel, .callback {
  display: flex;
  align-items: center;
}

.location {
  width: 14px;
  height: 17px;
}

.mail{
  width: 15px;
  height: 12px;
}

.phone-call {
  width: 21px;
  height: 21px;
}

.callback {
  font-size: 14px;
  line-height: 17px;
  color: $lightGray;
  text-decoration-line: underline;
  font-family: Inter-Regular;
}

.header-title {
  display: flex;
  flex-direction: column;
  text-align: start;
} 

.header-title h1 {
  color: $white;
  font-weight: 800;
  font-size: 70px;
  max-width: 350px;
  padding-bottom: 50px;
}

.slogan {
  color: $lightGray;
  font-size: 26px;
  padding-bottom: 50px;
}

.tagline {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 58px;
  justify-content: space-around;
  margin-bottom: 90px;
}

.tagline__item {
  display: flex;
  align-items: center;
}

.tagline-icon {
  padding-right: 7px;
  padding-left: 7px;
}
.tagline-icon__polygon_red {
  width: 10px;
  height: 10px;
}

.tagline-text {
  color: $white;
  font-size: 16px;
  margin-bottom: 0;
  text-align: left;
}

.feedback-call_mobile {
  display: none;
}

.header-btns {
  display: flex;
  justify-content: space-between;
  color: $white;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%);
  max-width: 735px;
}

.header-btns button {
  background-color: $red;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 60px;
  margin-right: 30px;
}

.submit-btn {
  width: 425px;
}

.calculate-btn {
  width: 280px;
}


@media screen and (max-width: 1205px) {
  .feedback-call {
    flex-direction: column;
    align-items: flex-start;
}
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

  .navbar-nav {
    background-color: $OpacityBlack;
}

.wrapper {
   padding-top: 28px;
}

  .social-natwork {
    width: auto;
  }

  .social-natwork_mobile {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .social-natwork_desktop {
   display: none;
}

  .navbar-brand_desktop {
    display: block;
  }

  .navbar-brand_mobile{
    display: none;
  }

  .feedback {
    display: none;
  }

  .feedback-call_mobile {
    display: flex;
  }

  .tagline {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 30px;
  }

  .tagline__item {
    padding: 10px;
  }

  .slogan {
    padding-bottom: 30px;
}

.header-title h1 {
  font-size: 40px;
  max-width: 350px;
  padding-bottom: 20px;
}

.feedback-icon {
  padding-right: 10px;
}

.phone-call {
  width: 15px;
  height: 15px;
}

.feedback-call__tel {
  font-size: 16px;
  padding-right: 10px;
}

.callback {
  font-size: 12px;
}

.header-btns {
  width: 100%;
}
}


@media screen and (max-width: 768px) {
  .logo {
    max-width: 167px;
    transform: translate(-25px, 0);
  }

  .social-natwork_mobile {
    padding: 0;
  }

  .social-natwork__icon {
    width: 20px;
    height: 20px;
}

.header-title h1 {
  font-size: 56px;
  padding-bottom: 20px;
}

.slogan {
  font-size: 18px;
  padding-bottom: 20px;
}

.header-btns {
  flex-direction: column;
  align-items: center;
}

.header-btns button {
  width: 100%;
  max-width: 320px;
  margin-right: 0;
}

.calculate-btn {
  width: 280px;
  position: absolute;
  bottom: -100px;
  border: 1px solid $red;
  background-color: $white !important;
  color: $red;
}
}

@media screen and (max-width: 460px) {
  .social-natwork__tel {
    font-size: 15px;
}

  .header-title h1 {
    font-size: 40px;
}
}

@media screen and (max-width: 320px) {
  .header-title h1 {
    font-size: 28px;
    padding-bottom: 10px;
}

  .tagline-text {
  font-size: 12px;
}
}

@media screen and (max-height: 650px) {
  .header-title h1 {
    font-size: 45px;
  
}
  .phone-call {
    width: 15px;
    height: 15px;
}

.slogan {
  font-size: 14px;
  padding-bottom: 5px;
}

.tagline__item {
  padding: 5px;
}

.tagline {
  margin-bottom: 15px;
}
}

@media screen and (max-height: 540px) {
  .header-title h1 {
    font-size: 28px;
  }
}

@media screen and (max-height: 460px) {
  .wrapper {
    padding-top: 10px;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-title h1 {
  font-size: 18px;
  padding-bottom: 0px;
}

.tagline {
  display: none;
  
}
}
