@import "~reset-css/reset.css";
@import 'variebles';
@import 'fonts.scss';
@import "~bootstrap/scss/bootstrap";
@import 'header';

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  all: unset;
  font-family: Inter-Regular;
}

ul,li {
  list-style: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: $lightGray
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
